@{
    ViewData["Title"] = "Home Page";
}


@section Scripts {
  <script>
    $(document).ready(function() {

        var dniBorrar;

       $(".borrar").click(function(e) {

                dniBorrar=$(this).data("dni");
                $("#textodni").text(dniBorrar);
                $("#cajaBorrar").modal("show");
                 e.preventDefault();   
       })
       $("#borrar").click(function(e) {

               alert(dniBorrar);
       })
    });
  </script>
}


 <table class="table table-striped table-hover">
    <tr>
        <th>Dni</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Borrar</th>
         <th>Editar</th>
    </tr>
    @foreach (var persona in ViewBag.lista){
        <tr>
        <td>@persona.Dni</td>
        <td>@persona.Nombre</td>
         <td>@persona.Apellidos</td>
          <td><a class="borrar" data-dni="@persona.Dni" href="/persona/borrar?dni=@persona.Dni">borrar</a></td>
          <td><a class="editar" href="/persona/formularioeditar?dni=@persona.Dni">editar</a></td>
        </tr>
    }
    </table>
    <a href="/persona/formularioinsertar">formulario Insertar</a>


    <div class="modal" tabindex="-1" id="cajaBorrar" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">¿Quieres Borrar la Persona?</h5>
              <button
                type="button"
                class="close cerrar"
               
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Procederemos al borrado de la persona <span id="textodni"></span></span></p>
            </div>
            <div class="modal-footer">
              <button type="button" id="borrar" class="btn btn-primary">
                Borrar
              </button>
              <button
                type="button"
                
                class="btn btn-secondary cancelar"
                data-dismiss="modal"
              >
                Cancelar
              </button>
            </div>
          </div>
        </div>
      </div>