@{
    ViewData["Title"] = "Home Page";
}


@section Scripts {
  <script>
    $(document).ready(function() {

       $(".editar").click(function(e) {

        e.preventDefault();
        confirm("quieres borrar la fila?");
       })
    });
  </script>
}


 <table class="table table-striped table-hover">
    <tr>
        <th>Dni</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Borrar</th>
         <th>Editar</th>
    </tr>
    @foreach (var persona in ViewBag.lista){
        <tr>
        <td>@persona.Dni</td>
        <td>@persona.Nombre</td>
         <td>@persona.Apellidos</td>
          <td><a href="/persona/borrar?dni=@persona.Dni">borrar</a></td>
          <td><a class="editar" href="/persona/formularioeditar?dni=@persona.Dni">editar</a></td>
        </tr>
    }
    </table>
    <a href="/persona/formularioinsertar">formulario Insertar</a>